body {
  background-color: #f9f7fe;
  font-family: "Montserrat", sans-serif;
}

footer {
  font-size: 12px;
}
a {
  color: #113f67;
}

.weather-app {
  background-color: #a2a8d3;
  max-width: 400px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 10px;
}

.search {
  padding: 10px 20px;
  background-color: #f9f7fe;
  margin: 5px;
  border: none;
  border-radius: 5px;
  width: 60%;
}

.submit-button {
  background-color: #e7eaf6;
  color: #113f67;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 800;
}

main {
  padding: 30px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.weather.city {
  font-size: 30px;
}

.display-degrees {
  font-size: 40px;
  padding-top: 20px;
  font-weight: 600;
}
.value {
  color: #38598b;
}
